.app {
    background-image:url("https://krot.mobi/uploads/posts/2021-02/1613791385_11-p-svetlo-serii-fon-dlya-saita-12.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    height: 100%;
}
